:root {
  --text-color-main: #26211a63;
  --text-color: #a18d70;
  --text-color-main-active: #a18d70;
  --text-color-second: #26211a63;
  --text-color-second-active: #26211a51;
}

@font-face {
  font-family: "Intrepid"; 
  src: url("/src/styles/Intrepid.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

html {
  font-family: 'Intrepid';
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
}

.app {
  display: flex;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  background-image: url('./images/bg.png');
  background-size: 35%;
}

.container {
  display: flex;
  position: relative;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  background-color: #0d0b089d;
  box-shadow: 0 0 30px 30px #0d0b089d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  display: flex;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--text-color-main-active);
  border-radius: 30px;
  justify-content: center;

  font-family: Intrepid;
  font-size: 1.0rem;
  letter-spacing: 0.10rem;

  background-color: var(--text-color-second);
  color: var(--text-color-main-active);

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

button:active {
  background-color: var(--text-color-second-active);
  border-color: var(--text-color-main-active);
}

h1 {
  text-align: center;
  max-width: 320px;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  max-width: 220px;
  font-size: 1.0rem;
}

.day__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lessons__wrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lesson {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.lesson::after {
  content: " ";
  background: var(--text-color-main-active);
  width: 100%;
  height: 0.1px;
  bottom: 0px;
  position: absolute;
}